* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.wrapper {
    max-width: 1220px;
    margin: 0 auto;
}

.main-title {
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
}

.header {
    margin-bottom: 82px;
}

.header-inner {
    display: flex;
}

.header-left-side {
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-paragraph {
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 52px;
}

.header-button {
    background-color: #68B738;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 14px 26px;
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.header-right-side {
    background-image: url('../imgs/header-background-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.list {
    list-style: none;
    padding: 0;
    display: flex;
}

.list-item-link {
    color:#000000;
    text-decoration: none;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*----catalog-section----*/

.catalog-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.catalog-card {
    background-color: #f2f2f2;
    width: 45%;
    padding: 41px 51px 55px 51px;
}

.catalog-card__header{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.catalog-card__title {
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    margin-left: 62px;
}

.catalog-card__paragraph {
    font-family: Arial;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 23px;
}

.catalog-card__link {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color:#000000;
    text-decoration: none;
}

/*----how-it-works-section----*/

.how-it-works-cards-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.how-it-works-title {
    margin-bottom: 32px;
}

.how-it-works-card__image-container {
    width: 80px;
    height: 80px;
    background:  #68B738;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.how-it-works-card__paragraph {
    font-family: Arial;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    width: 95%;
}

.how-it-works-card {
    width: 20%;
    padding: 40px 0;
    position: relative;
}

.how-it-works-card:first-child:after {
    content: '1';
    position: absolute;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    top: 0;
    right: 13%;
    z-index: -1;
}

.how-it-works-card:nth-child(2):after {
    content: '2';
    position: absolute;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    top: 0;
    right: 13%;
    z-index: -1;
}

.how-it-works-card:nth-child(3):after {
    content: '3';
    position: absolute;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    top: 0;
    right: 13%;
    z-index: -1;
}

.how-it-works-card:nth-child(4):after {
    content: '4';
    position: absolute;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    top: 0;
    right: 13%;
    z-index: -1;
}

/*----example-section----*/

